* {
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
}
.button {
  display: block;
}

.container {
  border: 10px solid lightgray;
  max-width: 900px;
}
.heading {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: minmax(3em, auto);
  background-color: #494430;
  color: white;
}

.t {
  padding-left: 10px;
  padding-bottom: 1em;

}

.box {
  display: flex;
  justify-content: flex-start;
}


.title {
  padding-right: 30px;
}

.sort {
  background-color: #494430;
  color: white;
  text-align: right;
  border: none;
}

.rows {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-auto-rows: minmax(3em, auto);
  border: 1px solid gray;
}
.rows div {
  padding-top: 1em;
  padding-left: 10px;
  border-bottom: 1px solid gray
}


/* .hidden {
  display: none;
} */

.newForm {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}

/* Footer */

.footer {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.btn {
  align-self: center;
  padding-right: 10px;
  /* padding: 15px; */
}
.number, .info {
  padding-right: 10px;
  padding-left: 5px;
}

.footer:children {
  padding-right: 50px;
}

.info, .number {
  display: inline-block;
}
.select {
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.newForm {
  margin-bottom: 10px;
}

 @media (max-width: 500px) {
   .rows, .heading {
     grid-template-columns: 2fr 1fr 1fr;
   }
   .newForm {
     grid-template-columns: 1fr;
     max-width: 100%;
     padding-left: 20px;
     padding-right: 20px;
   }
   .footer {
     justify-content: space-around;
   }
 }
